body, html {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	color: black;
}

@media (min-width: 480px) and (max-width: 1400px) {
  {
    font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1400 - 480) ));
  }
}

/*
@media screen and (max-width: 801px) {
	h2, h4, h5, h6 {font-size: 2.5em;}
}
@media screen and (max-width: 1401px) {
	h2, h4, h5, h6 {font-size: 1.2em;}
}
*/
.navbar {
	background-color: #777 !important;
}

.navbar-brand img {
	height: 40px;
}

.navbar-brand {
	color: orange !important;
}

.navbar-nav li{
	padding-right: 10px;
}

.nav-link {
	font-size: 1.2em !important;
}


/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-nav > li > a:hover {
    color: orange !important;
}
.title {
	font-size: 1.5em;
}

.fixed-wrap {
	color: white;
	transform: translateY(7%);
}


#fixed {
	height: 500px;
	border-top: 5px solid #f0f0f0;
	border-bottom: 5px solid #f0f0f0;
	padding-top: 10vw;
	background: url(../images/Kazan.webp) no-repeat center center fixed;

	background-blend-mode: multiply;
	background-color: lightblue;
	background-size: cover;
}


.carousel-inner{
	width: 100%;
}

.carousel-inner img{
	transform: translateY(0%);
	width: 100%;
	height: 350px; /* высота изображения */
  	object-fit: cover;
}

.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-shadow: 1px 1px 10px #000;
}
/*
@media (max-width: 450px) {
	.carousel-caption display-2 {
		font-size: 2em;
	}
}
*/
.jumbotron {
	border-radius: 0;

}


hr {
	border-top: 1em solid #f0f0f0;
	width: 60%;
}



.facebook {color: #3b5998}
.fa-whatsapp {color: green}

/*
.contact li:hover {
	color: orange;
}
*/

footer {
	background-color: #aaa;
	padding-top: 50px;
	border-top: 4px solid silver;
	color: white;
}
